p{
  height: 150px;
  width: 500px;
  border-radius:20%;
  border: 10px solid;
margin-left: 30%;
margin-top: 10%;
  background: yellow;
  text-align: center;
  text-shadow: 0px 2px 3px;
  font-size: 5em;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
  background-color: #555;
  text-shadow: 0px 2px 3px;
  text-align: center;
  font-family: cursive;
  font-size: 36;
  size:20%;

}


body{

  background-color: grey;

}
